<?xml version="1.0" encoding="utf-8"?>
</configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="example-nuget" value="https://ankithoney.bytesafe.dev/nuget/example-nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <example-nuget>
      <add key="Username" value="bytesafe" />
      <add key="Password" value="01GEJNAEBCHYJTKAYKA044NB6F" />
    </example-nuget>
  </packageSourceCredentials>
    <apikeys>
      <add key="https://ankithoney.bytesafe.dev/nuget/example-nuget/index.json" value="01GEJNAEBCHYJTKAYKA044NB6F" />
      </apikeys>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    </disabledPackageSources>
</configuration>
